.skill-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-content: center;
}
.skill-list {
  display: flex;
  transition: transform 0.5s ease;
}
img {
  width: 50%;
  height: auto;
  display: block;
  margin-top: 8px;
}
