.home-container {
  background-color: #e6e6e6;
}
@media screen and (max-width: 736px) {
  .home-container {
    /* border: solid red 2px; */
    height: calc(100dvh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 5vh;
  }
  .home-detail {
    /* border: solid blue 2px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .home-img {
    /* border: solid green 2px; */
    background-image: url("../../images/image001.jpeg");
    background-size: cover;
    width: 75%;
    height: 45%;
    border-radius: 50%;
    align-self: center;
    margin-top: 40px;
  }
  .home-title {
    /* border: solid blueviolet 2px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .home-name {
    font-size: 1.5rem;
  }
  .home-sub {
    font-size: 1.5rem;
    display: flex;
    align-self: flex-start;
  }
  .home-name-span {
    color: #0441f5;
    font-family: Papyrus;
    font-weight: bold;
  }
  .home-buttons {
    /* border: solid greenyellow 2px; */
    display: flex;
    gap: 10px;
  }
  button {
    background-color: #0441f5;
    color: white;
    border: none;
    height: 50px;
    width: 140px;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
  }
}
