.home-container {
  background-color: #e6e6e6;
}
@media screen and (max-width: 736px) {
  .home-container {
    /* border: solid red 2px; */
    height: calc(100dvh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 5vh;
  }
  .home-detail {
    /* border: solid blue 2px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .home-img {
    /* border: solid green 2px; */
    background-image: url("../../images/image001.jpeg");
    background-size: cover;
    width: 75%;
    height: 45%;
    border-radius: 50%;
    align-self: center;
    margin-top: 40px;
  }
  .home-title {
    /* border: solid blueviolet 2px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .home-name {
    font-size: 2rem;
  }
  .home-sub {
    font-size: 2rem;
    display: flex;
    align-self: flex-start;
  }
  .home-name-span {
    color: #0441f5;
    font-family: Papyrus;
  }
  .txt-hello {
    font-weight: bold;
  }
  .home-buttons {
    /* border: solid greenyellow 2px; */
    display: flex;
    gap: 15px;
    align-self: flex-start;
    margin-left: 30px;
  }
  button {
    background-color: #0441f5;
    color: white;
    border: none;
    height: 50px;
    width: 140px;
    font-size: 14px;
    font-weight: bold;
    /* gap: 20px; */
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-container {
    height: calc(100dvh - 70px);
    /* border: solid green 2px; */
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 50px;
  }
  .home-detail {
    /* border: solid blue 2px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .home-title {
    /* border: solid blueviolet 2px; */
    width: 70%;
  }
  .home-name {
    font-size: 2.5rem;
  }
  .home-sub {
    font-size: 2.5rem;
  }
  .home-name-span {
    color: #0441f5;
    font-family: Papyrus;
  }
  .txt-hello {
    font-weight: bold;
  }
  .home-buttons {
    /* border: solid gray 2px; */
    display: flex;
    gap: 15px;
    align-self: flex-start;
    margin-left: 110px;
    gap: 30px;
  }

  .home-img {
    height: 450px;
    width: 450px;
    background-image: url("../../images/image001.jpeg");
    background-size: cover;
    border-radius: 50%;
    align-self: center;
    margin-top: 60px;
  }
  button {
    background-color: #0441f5;
    color: white;
    border: none;
    height: 50px;
    width: 140px;
    font-size: 14px;
    font-weight: bold;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .home-container {
    /* border: solid red 2px; */
    height: calc(100dvh - 80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .home-detail {
    /* border: solid blue 2px; */
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 40%;
    gap: 25px;
    align-self: center;
    justify-content: flex-start;
  }
  /* .home-title {
      /* border: solid blueviolet 2px; */
  /* } */
  .home-name {
    font-size: 2rem;
  }
  .home-sub {
    font-size: 2rem;
    display: flex;
    align-self: flex-start;
  }
  .home-name-span {
    color: #0441f5;
    font-family: Papyrus;
  }
  .txt-hello {
    font-weight: bold;
  }

  .home-buttons {
    /* border: solid greenyellow 2px; */
    display: flex;
    gap: 15px;
    align-self: flex-start;
  }
  button {
    background-color: #0441f5;
    color: white;
    border: none;
    height: 50px;
    width: 140px;
    font-size: 14px;
    font-weight: bold;
    /* gap: 20px; */
  }
  .home-img {
    /* border: solid green 2px; */
    width: 350px;
    height: 350px;
    background-image: url("../../images/image001.jpeg");
    background-size: cover;
    border-radius: 50%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .home-container {
    /* border: solid red 2px; */
    height: calc(100dvh - 100px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .home-detail {
    /* border: solid blue 2px; */
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    gap: 60px;
    align-self: center;
    justify-content: flex-start;
  }
  .home-name {
    font-size: 3.5rem;
  }
  .home-sub {
    font-size: 3.5rem;
    display: flex;
    align-self: flex-start;
  }
  .home-name-span {
    color: #0441f5;
    font-family: Papyrus;
  }
  .txt-hello {
    font-weight: bold;
  }
  .home-img {
    /* border: solid green 2px; */
    width: 450px;
    height: 450px;
    background-image: url("../../images/image001.jpeg");
    background-size: cover;
    border-radius: 50%;
  }
  .home-buttons {
    /* border: solid greenyellow 2px; */
    display: flex;
    gap: 30px;
    align-self: flex-start;
    /* margin-left: 30px; */
  }
  button {
    background-color: #0441f5;
    color: white;
    border: none;
    height: 60px;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    /* gap: 20px; */
  }
}
