@media screen and (max-width: 767px) {
  .contact-container {
    /* border: solid red 2px; */
    background-color: #0441f5;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 40px;
  }
  .contact-heading {
    height: 30px;
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    margin-top: 30px;
  }
  .contact-sub-container {
    /* border: solid blue 2px; */
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 30px;
  }
  .contact-img {
    /* border: solid purple 2px; */
    width: 40%;
    height: 120px;
    display: flex;
    align-self: center;
    background-image: url("../../images//postman.jpeg");
    background-size: cover;
  }
  .contact-form {
    /* border: solid red 2px; */
    background-color: #e6e6e6;
    width: 90%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .form {
    /* border: solid green 2px; */
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .form div input {
    border: solid #0441f5 2px;
    width: 100%;
    height: 50px;
  }
  #message {
    border: solid #0441f5 2px;
    height: 200px;
    max-height: 250px;
  }
  .contact-info .active-input {
    outline: none;
    background-color: #fff;
    border: solid #0441f5 3px;
  }
  #message.active-input {
    outline: none;
    background-color: #fff;
    border: solid #0441f5 3px;
  }
  .contact-btn {
    width: 60%;
    text-align: center;
    align-self: center;
    font-size: 16px;
    margin-top: 15px;
  }
  input {
    font-size: 18px;
    padding-left: 5px;
    /* font-weight: bold; */
  }
  textarea {
    font-size: 16px;
    padding-left: 5px;
    font-weight: bold;
  }
}
