.navbar {
  background-color: #0441f5;
}
/* .logo {
  border: solid red 2px;
  color: white;
  font-weight: bold;
  background-image: url("../../images/logo3.png");
  background-size: cover;
  height: 40px;
  width: 100px;
  margin-left: 20px;
}; */
@media screen and (max-width: 768px) {
  .navbar {
    /* border: solid red 2px; */
    background-color: #0441f5;
    height: 60px;
    /* display: none; */
  }
  .links ul {
    display: none;
  }
  .close-icon {
    cursor: pointer;
  }
  .logo {
    /* border: solid red 2px; */
    color: white;
    font-weight: bold;
    background-image: url("../../images/logo4.png");
    background-size: cover;
    height: 60px;
    width: 50px;
    margin-left: 20px;
  }
}

/* .navbar {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0441f5;
} 
/* .logo {
  color: white;
  font-weight: bold;
  background-image: url("../../images/logo3.png");
  background-size: cover;
  height: 60%;
  width: 100px;
} */

/* .links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 700px;
  justify-content: space-evenly;
} */
/* a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", sans-serif;
} */
/* .links ul li a {
  cursor: pointer;
} */
/* .links ul li a:hover {
  color: #fff;
}; */

/* @media screen and (min-width: 2560px) {
  a {
    font-size: 20px;
  }
  .logo {
    margin-left: 70px;
  }
} */
/* @media screen and (min-width: 1440px) and (max-width: 2559px) {
  .navbar {
    height: 60px;
  }
  .logo {
    margin-left: 60px;
    height: 40px;
    width: 70px;
  }
} */
/* @media screen and (min-width: 1024px) and (max-width: 1439px) {
  .navbar {
    height: 60px;
  }
  .logo {
    margin-left: 50px;
    height: 40px;
    width: 70px;
  }
} */
/* @media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    height: 60px;
  }
  .links ul {
    justify-content: flex-end;
    gap: 20px;
    width: 90%;
  }
  a {
    font-size: 15px;
  }
  .logo {
    margin-left: 40px;
    height: 40px;
    width: 70px;
  }
} */
/* @media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar {
    height: 12vh;
    display: none;
  }
  .logo {
    margin-left: 40px;
    height: 40px;
    width: 70px;
  }
}; */
