.skill-container {
  background-color: #e6e6e6;
}
@media screen and (max-width: 767px) {
  .skill-container {
    width: 100%;
    height: 90px;
    overflow: hidden;
    position: relative;
    align-content: center;
  }
  .skill-list {
    display: flex;
    transition: transform 0.5s ease;
  }
  img {
    width: 70%;
    height: auto;
    display: block;
    margin-top: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 820px) {
  .skill-container {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
    align-content: center;
  }
  .skill-list {
    display: flex;
    transition: transform 0.5s ease;
    margin-top: 10px;
  }
  img {
    width: 70%;
    height: auto;
    display: block;
  }
}
@media screen and (min-width: 821px) and (max-width: 1024px) {
  .skill-container {
    width: 100%;
    height: 8vh;
    overflow: hidden;
    position: relative;
    align-content: center;
    padding-bottom: 10px;
  }
  .skill-list {
    display: flex;
    transition: transform 0.5s ease;
  }
  img {
    width: 40%;
    height: auto;
    display: block;
    margin-top: 1vh;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .skill-container {
    width: 100%;
    /* height: 8vh; */
    overflow: hidden;
    position: relative;
    align-content: center;
    padding-bottom: 10px;
    border-bottom: #0441f5 solid 40px;
  }
  .skill-list {
    display: flex;
    transition: transform 0.5s ease;
  }
  img {
    width: 30%;
    height: auto;
    display: block;
    margin-top: 1vh;
  }
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .skill-container {
    width: 100%;
    /* height: 8vh; */
    overflow: hidden;
    position: relative;
    align-content: center;
    padding-bottom: 10px;
    border-bottom: #0441f5 solid 40px;
  }
  .skill-list {
    display: flex;
    transition: transform 0.5s ease;
  }
  img {
    width: 30%;
    height: auto;
    display: block;
    margin-top: 1vh;
  }
}
