/* Burger button styling */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  right: 20px; /* Position the button on the right side */
  top: 20px;
  z-index: 1000;
}

.bm-burger-bars {
  background: whitesmoke; /* Dark gray for the burger bars */
}

/* Menu styling */
.bm-menu {
  background: #0441f5; /* Menu background color */
  padding: 1em; /* More uniform padding */
  font-size: 1.2em; /* Slightly larger font */
  max-height: fit-content; /* Set the height to 800 pixels */
  width: 60vw; /* Set the width to 50% of the viewport width */
  overflow: auto; /* Enable scrolling if content exceeds height */
  margin-left: 108px; /* Align to the right */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  margin-top: -60px;
}

/* Prevent body scroll when menu is open */
body.bm-open {
  overflow: hidden; /* Prevent scrolling */
}

/* Menu item styling */
.menu-item {
  display: block;
  padding: 15px 0;
  color: #fff; /* White text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition for hover */
  margin-top: 20px;
}

.menu-item:hover {
  color: #ffcc00; /* Light yellow on hover */
}

/* Overlay styling */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5); /* Darker overlay for better contrast */
}
.close-icon {
  color: white;
  font-size: 1.5rem;
  margin-left: 130px;
}

@media screen and (min-width: 768px) {
  .bm-burger-button {
    display: none;
  }
}
