.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 20px;
  z-index: 1000;
}

.bm-burger-bars {
  background: whitesmoke;
}

.bm-menu {
  background: linear-gradient(to bottom, #0441f5, #1e263d);
  padding: 1em;
  font-size: 1.2em;
  max-height: fit-content;
  width: 60vw;
  overflow: auto;
  margin-left: 108px;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
}

body.bm-open {
  overflow: hidden;
}

.menu-item {
  display: block;
  padding: 15px 0;
  color: #e6e6e6;
  text-decoration: none;
  transition: color 0.3s;
  margin-top: 20px;
}

.menu-item:hover {
  background: none;
  color: #000;
  text-shadow:
    0 0 10px #e6e6e6,
    0 0 20px #e6e6e6,
    0 0 30px #e6e6e6,
    0 0 40px #e6e6e6;
}

.close-icon {
  color: white;
  font-size: 1.5rem;
  margin-left: 130px;
}

@media screen and (min-width: 768px) {
  .bm-burger-button {
    display: none;
  }
}
