.service-container {
  background-color: #e6e6e6;
}
.service-heading {
  background-color: #0441f5;
}
@media screen and (max-width: 767px) {
  .service-container {
    /* border: solid red 2px; */
    width: 100%;
    height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .service-heading {
    /* border: solid green 2px; */
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: #d2dcea;
    margin-top: 20px;
  }
  .service-cards {
    /* border: solid blue 2px; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 15px;
  }
  .services {
    /* border: solid red 2px; */
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 10px;
    background-color: #0441f5;
  }
  .services h4 {
    /* border: solid green 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 70%;
    margin-top: 20px;
    background-color: #e6e6e6;
  }
  .services p {
    color: #d2dcea;
    font-size: 12px;
    font-family: "Playwrite DE Grund", cursive;
    margin: 0 20px 0 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .service-container {
    /* border: solid red 2px; */
    width: 100%;
    height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .service-heading {
    /* border: solid green 2px; */
    height: 40px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: #d2dcea;
    margin-top: 20px;
    font-size: 18px;
  }
  .service-cards {
    /* border: solid blue 2px; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 40px;
  }
  .services {
    /* border: solid red 2px; */
    width: 70%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 10px;
    background-color: #0441f5;
  }
  .services h4 {
    border: solid green 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 60%;
    margin-top: 20px;
    background-color: #e6e6e6;
    font-size: 18px;
  }
  .services p {
    color: #d2dcea;
    width: 80%;
    font-size: 16px;
    font-family: "Playwrite DE Grund", cursive;
    margin: 20px 0 20px 0;
  }
}
